<% layout('boilerplate') %>

<form action="" method="post">
    <input type="text" name="email" placeholder="email">

    <input type="text" name="password" placeholder="password">

    <button class="btn btn-primary">login</button>
</form>